@using Microsoft.AspNetCore.Identity;
@model List<UserModel>
@{
    ViewData["Title"] = "ManageUser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <form asp-action="SearchUser" class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <h2 class="tm-block-title">Tìm User theo quyền </h2>
                <p class="text-white">Vai trò</p>
                <select name="IDRole" class="custom-select">
                    @foreach(IdentityRole role in ViewBag.ListType)
                    {
                        if (role.Name == ViewBag.RoleID)
                        {
                            <option value="@role.Name" selected>@role.Name</option>
                        }else
                        {
                            <option value="@role.Name">@role.Name</option>
                        }
                    }
                </select>
                <input type="submit" class="btn btn-primary mt-2" />
            </form>
        </div>
        <div class="col-12 tm-block-col">
            <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Full name</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Avatar</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.FullName</td>
                            <td>@item.PhoneNumber</td>
                            <td>
                                <img src="/images/@item.AvatarURL" height="100" width="100">
                            </td>
                            <td>
                                <a asp-action="Delete" asp-controller="Pitch" asp-area="Admin" asp-route-id="@item.Id" class="tm-product-delete-link">
                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                </a>
                                <a asp-area="Admin" asp-controller="ManageUser" asp-action="EditUser" asp-route-id="@item.Id" class="tm-product-delete-link">
                                    <i class="far fa-edit tm-product-delete-icon"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

