@model IEnumerable<Soccer_Care.Models.FootBallFieldModel>
@{
    ViewData["Title"] = "ManagePitch";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">NAME</th>
                                <th scope="col">Address</th>
                                <th scope="col">Price</th>
                                <th scope="col">TYPE FEILD</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <th scope="row"><input type="checkbox" /></th>
                                    <td class="tm-product-name">@item.Name</td>
                                    <td>@item.Address</td>
                                    <td>@item.Gia</td>
                                    <td>@item.IDType</td>
                                    <td>
                                        <a asp-action="Delete" asp-controller="Pitch" asp-area="Admin" asp-route-id="@item.IDFootBallField" class="tm-product-delete-link">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                        <a asp-action="Edit" asp-controller="Pitch" asp-area="Admin" asp-route-id="@item.IDFootBallField" class="tm-product-delete-link">
                                            <i class="far fa-edit tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            

                        </tbody>
                    </table>
                </div>
                <!-- table container -->
<<<<<<< HEAD
                <a asp-action="#" class="btn btn-primary btn-block text-uppercase mb-3">Add New Field</a>
=======
                <a asp-controller="Pitch" asp-action="Create" asp-area="Admin" class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
>>>>>>> d6fcb8e7275ac8a7d1d41b280a24102fd35f9e0f
            </div>
        </div>
       @*  <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                <h2 class="tm-block-title">Product Categories</h2>
                <div class="tm-product-table-container">
                    <table class="table tm-table-small tm-product-table">
                        <tbody>
                            <tr>
                                <td class="tm-product-name">Product Category 1</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name">Product Category 2</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name">Product Category 3</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name">Product Category 4</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name">Product Category 5</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name">Product Category 6</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name">Product Category 7</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name">Product Category 8</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name">Product Category 9</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name">Product Category 10</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tm-product-name">Product Category 11</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
<<<<<<< HEAD
                <button class="btn btn-primary btn-block text-uppercase mb-3">
                    Add New Type
                </button>
=======
                <a  class="btn btn-primary btn-block text-uppercase mb-3">
                    Add new category
                </a>
>>>>>>> d6fcb8e7275ac8a7d1d41b280a24102fd35f9e0f
            </div>
        </div> *@
    </div>
</div>


