@model Soccer_Care.Models.FootBallFieldModel
@inject IHttpContextAccessor accessor

<div style="height: 100px;"></div>

<div class="p-4">
    <div class="my-5">
        <h2>Sân bóng: @Model.Name</h2>
        <span class="font-weight-bold d-block">Giá: @Model.Gia</span>
        <span>Địa chỉ: @Model.Address</span>
    </div>
    <form asp-action="DatSanConfirm"  method="post">
        <div class="d-flex flex-column gap-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="emailUser" class="form-control" required id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="d-flex gap-4">
                <div class="form-group" style="flex: auto">
                    <label for="exampleInputPassword1">Username</label>
                    <input type="text" name="Username" class="form-control" required id="exampleInputPassword1" placeholder="Username" value="@accessor.HttpContext.Session.GetString("User")" readonly>
                </div>
                <div class="form-group" style="flex: auto">
                    <label for="exampleInputPassword1">Số Điện Thoại</label>
                    <input type="text" name="SDT" class="form-control" required id="exampleInputPassword1" placeholder="Phone">
                </div>
            </div>
            <div class="d-flex gap-4">
                <div class="form-group" style="flex: auto">
                    <label for="exampleFormControlSelect1">Thời gian đặt</label>
                    <input type="time" name="BeginTime" class="form-control" required id="time-input" placeholder="Time">
                </div>
                <div class="form-group" style="flex: auto">
                    <label for="exampleFormControlSelect1">Ngày</label>
                    <input type="date" name="Date" class="form-control" required id="date-input" placeholder="Ngày">
                </div>
            </div>
        </div>
        
        <button asp-action="DatSanConfirm" asp-controller="PitchBall" asp-route-id="@Model.IDFootBallField" type="submit" class="btn btn-primary mt-3 justify-content-end">Xác nhận</button>
    </form>
</div>

<script>
    // Get today's date
    var today = new Date().toISOString().split('T')[0];

    // Set the min attribute of the date input field
    document.getElementById('date-input').setAttribute('min', today);
</script>

<script>
    var select = document.getElementById('time-input');
    var startHour = 7;
    var endHour = 22;
    var stepMinutes = 30;

    // Tạo danh sách các giờ và phút
    var hours = [];
    var minutes = ['00', '30'];

    for (var h = startHour; h <= endHour; h++) {
        hours.push(h.toString().padStart(2, '0'));
    }

    // Tạo các tùy chọn cho trường input
    hours.forEach(function (hour) {
        minutes.forEach(function (minute) {
            var option = document.createElement('option');
            option.text = hour + ':' + minute;
            option.value = hour + ':' + minute;
            select.add(option);
        });
    });
</script>

