@{
    ViewData["Title"] = "Đặt sân";
}
@model IEnumerable<Soccer_Care.Models.FootBallFieldModel>
@{
    int i = 0;
    List<FieldLikeModel> userLike = ViewBag.ListFieldLike;
}

<style>
    .box-btn {
        float: left;
        background: transparent;
        font-size: 35px;
        color: #4D4E56;
        font-weight: 200;
        cursor: pointer;
        border-radius: 2px;
        line-height: 0.5;
        border: none;
        outline: none;
    }

    .glyphicon {
        transition: color .3s linear;
    }

    .box-btn .red {
        color: red;
    }
</style>

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h6>Chào mừng bạn đến với Soccer Care</h6>
                    <h2>Danh sách các sân bóng</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="listing-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="menu">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <span class="icon"><img src="/assets/images/search-icon-01.png" alt=""></span>
                                            Sân bóng

                                        </div>
                                    </div>
                                 
                                    
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="col-lg-12">
                <div class="owl-carousel owl-listing">
                    <div class="item">
                        <div class="row">
                            @foreach(var item in Model)
                            {
                                i++;
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img class="avatar-football" style="width: 480px; height: 380px" src="@item.HinhAnhDaiDien" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>@item.Name</h4></a>
                                            <h6><strong>Chủ sân</strong>: @item.Username</h6>
                                            <ul class="rate">
                                                <li>(@item.ratings.Count()) Đánh Giá</li>
                                                <li>
                                                    <button type="submit" class="box-btn">
                                                        @if (userLike.FirstOrDefault(i => i.IDFootballField == item.IDFootBallField) != null)
                                                        {
                                                            <input data-idField="@item.IDFootBallField" hidden />
                                                            <span class="glyphicon glyphicon-heart red" aria-hidden="true"></span>
                                                        }else
                                                        {
                                                            <input data-idField="@item.IDFootBallField" hidden />
                                                            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                                        }
                                                    </button>
                                                </li>
                                            </ul>
                                            
                                            <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> Sân đẹp</span>
                                    
                                            <ul class="info">
                                                @{
                                                    List<ListFieldModel> list = item.ListField;
                                                    int count5 = list.Where(i => i.IDFootballField == item.IDFootBallField && i.IDType == "2").Count();
                                                    int count7 = list.Where(i => i.IDFootballField == item.IDFootBallField && i.IDType == "3").Count();
                                                }
                                                <li><img src="/assets/images/listing-icon-02.png" alt=""/>Số sân 5: @count5</li>
                                                <li><img src="/assets/images/listing-icon-03.png" alt=""/>Số sân 7: @count7</li>
                                            </ul>
                                            <div class="main-white-button">
                                                <a asp-action="DS" asp-controller="PitchBall" asp-route-id="@item.IDFootBallField"><i class="fa fa-eye"></i> Đặt ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if(i == 3)
                                {
                                    break;
                                }
                            }
                            
                        </div>
                    </div>
   
                    <div class="item">
                        <div class="row">
                            @foreach(var item in Model.Skip(3).ToList())
                            {
                                i++;
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img class="avatar-football" style="width: 480px; height: 380px" src="@item.HinhAnhDaiDien" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>@item.Name</h4></a>
                                            <h6>by: @item.Username</h6>
                                            <ul class="rate">
                                                <li>(@item.ratings.Count()) Đánh Giá</li>
                                            </ul>
                                            <button type="submit" class="box-btn">
                                                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                            </button>
                                            <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> Sân đẹp</span>

                                            <ul class="info">
                                                @{
                                                    List<ListFieldModel> list = item.ListField;
                                                    int count5 = list.Where(i => i.IDFootballField == item.IDFootBallField && i.IDType == "2").Count();
                                                    int count7 = list.Where(i => i.IDFootballField == item.IDFootBallField && i.IDType == "3").Count();
                                                }
                                                <li><img src="/assets/images/listing-icon-02.png" alt="" />Số sân 5: @count5</li>
                                                <li><img src="/assets/images/listing-icon-03.png" alt="" />Số sân 7: @count7</li>
                                            </ul>
                                                                            <div class="main-white-button">
                                                                                <a asp-action="DS" asp-controller="PitchBall" asp-route-id="@item.IDFootBallField"><i class="fa fa-eye"></i> Đặt ngay</a>
                                                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (i == 6)
                                {
                                    break;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
                                        </div>
                                    </li>

                                    <!-- second category listing of items -->
                                    <li>
                                        <div>
                                            <div class="col-lg-12">
                                                <div class="owl-carousel owl-listing">
                                                    <div class="item">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-04.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Food First page</h4></a>
                                                                        <h6>by: Food Delivery</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $600 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>

                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-05.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Food Item 2</h4></a>
                                                                        <h6>by: Food Delivery</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $540 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>

                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-03.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Food Item 3</h4></a>
                                                                        <h6>by: Food Delivery</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $720 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>

                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- second category second page -->
                                                    <div class="item">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-05.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>FOOD Second Page</h4></a>
                                                                        <h6>by: Food Delivery</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $420 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>

                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-04.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Best Food Item 5</h4></a>
                                                                        <h6>by: Food Delivery</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $450 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>

                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-03.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Amazing Food Item 6</h4></a>
                                                                        <h6>by: Food Delivery</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $500 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <!-- third category first page -->
                                    <li>
                                        <div>
                                            <div class="col-lg-12">
                                                <div class="owl-carousel owl-listing">
                                                    <div class="item">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-05.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Third Category First Page</h4></a>
                                                                        <h6>by: Sale Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $750 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-04.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Car Item 2</h4></a>
                                                                        <h6>by: Sale Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $880 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-03.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Car Item 3</h4></a>
                                                                        <h6>by: Sale Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $770 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- third category second page -->
                                                    <div class="item">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-01.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Third Category Second Page</h4></a>
                                                                        <h6>by: Sale Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $660 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-02.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Car Item 5</h4></a>
                                                                        <h6>by: Sale Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $550 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-06.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Car Item 6</h4></a>
                                                                        <h6>by: Sale Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $440 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- third category third page -->
                                                    <!-- NONE -->


                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <!-- 4th category 1st page -->
                                    <li>
                                        <div>
                                            <div class="col-lg-12">
                                                <div class="owl-carousel owl-listing">
                                                    <div class="item">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-06.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Traveling Item 1</h4></a>
                                                                        <h6>by: Travel Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $400 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-04.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Traveling Item 2</h4></a>
                                                                        <h6>by: Travel Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $500 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-03.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Traveling Item 3</h4></a>
                                                                        <h6>by: Travel Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $342 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- 4th category 2nd page -->
                                                    <div class="item">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-05.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>4th Category 2nd Page</h4></a>
                                                                        <h6>by: Travel Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $268 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-06.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Traveling Item 5</h4></a>
                                                                        <h6>by: Travel Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $145 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-03.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>Traveling Item 6</h4></a>
                                                                        <h6>by: Travel Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $240 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- 4th category 3rd page -->
                                                    <div class="item">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="listing-item">
                                                                    <div class="left-image">
                                                                        <a href="#"><img src="/assets/images/listing-06.jpg" alt=""></a>
                                                                        <div class="hover-content">
                                                                            <div class="main-white-button">
                                                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt sân</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right-content align-self-center">
                                                                        <a href="#"><h4>4th Category 3rd Page</h4></a>
                                                                        <h6>by: Travel Agent</h6>
                                                                        <span class="price"><div class="icon"><img src="/assets/images/listing-icon-01.png" alt=""></div> $360 / month included tax</span>
                                                                        <span class="details">Details: <em>860 sq ft</em></span>
                                                                        <span class="info"><img src="/assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="/assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

