@{
    ViewData["Title"] = "Đặt sân";
}
@model IEnumerable<Soccer_Care.Models.FootBallFieldModel>
@{
    int i = 0;
    List<FieldLikeModel> userLike = ViewBag.ListFieldLike;
}

<style>
    .box-btn {
        float: left;
        background: transparent;
        font-size: 35px;
        color: #4D4E56;
        font-weight: 200;
        cursor: pointer;
        border-radius: 2px;
        line-height: 0.5;
        border: none;
        outline: none;
    }

    .glyphicon {
        transition: color .3s linear;
    }

    .box-btn .red {
        color: red;
    }

    .custom-button {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px; /* Điều chỉnh khoảng cách từ phía trên nếu cần */
        margin-right: 10px; /* Điều chỉnh khoảng cách từ phía phải nếu cần */
    }
</style>

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                    <h6>Chào mừng bạn đến với Soccer Care</h6>
                    <h2>Danh sách các sân bóng</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="listing-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="menu">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <span class="icon"><img src="assets/images/search-icon-01.png" alt=""></span>
                                            Apartments
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="assets/images/search-icon-02.png" alt=""></span>
                                            Food &amp; Life
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <span class="icon"><img src="assets/images/search-icon-03.png" alt=""></span>
                                            Cars
                                        </div>
                                    </div>
                                    <div class="last-thumb">
                                        <div class="thumb">
                                            <span class="icon"><img src="assets/images/search-icon-04.png" alt=""></span>
                                            Traveling
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="col-lg-12">
                                                <div class="owl-carousel owl-listing">
                                                        <div class="item">
                                                            <div class="row">
                                                            @foreach (var item in Model)
                                                            {
                                                                <div class="col-lg-12">
                                                                    <div class="listing-item">
                                                                        <div class="left-image">
                                                                            <a href="#"><img src="/images/@item.HinhAnhDaiDien" height="400" width="440" alt=""></a>
                                                                            <div class="hover-content">
                                                                                <div class="main-white-button">
                                                                                    <a asp-action="DS" asp-controller="PitchBall" asp-route-id="@item.IDFootBallField"><i class="fa fa-eye"></i> Đặt Sân</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="right-content align-self-center">
                                                                            <a href="#"><h4>@item.Name</h4></a>
                                                                            <h6>chủ sân: @item.Username</h6>
                                                                            <div class="custom-button">
                                                                                <button type="submit" class="box-btn">
                                                                                    @if (userLike != null)
                                                                                    {
                                                                                        @if (userLike.FirstOrDefault(i => i.IDFootballField == item.IDFootBallField) != null)
                                                                                        {
                                                                                            <input class="idFieldInput" data-idField="@item.IDFootBallField" hidden />
                                                                                            <span class="glyphicon glyphicon-heart red" aria-hidden="true"></span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input class="idFieldInput" data-idField="@item.IDFootBallField" hidden />
                                                                                            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input class="idFieldInput" data-idField="@item.IDFootBallField" hidden />
                                                                                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                                                                    }
                                                                                </button>
                                                                            </div>
                                                                            <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> @item.Gia đ</span>
                                                                            <span class="details">Địa chỉ: <em>@item.Address</em></span>
                                                                            @{
                                                                                List<ListFieldModel> list = item.ListField;
                                                                                int count5 = list.Where(i => i.IDFootballField == item.IDFootBallField && i.IDType == "2").Count();
                                                                                int count7 = list.Where(i => i.IDFootballField == item.IDFootBallField && i.IDType == "3").Count();
                                                                            }
                                                                            <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> @count5 Sân 5<br><img src="assets/images/listing-icon-03.png" alt=""> @count7 Sân 7</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script type="text/javascript">
    $(function ($) {
        $(document).on('click', '.box-btn', function (event) {
            var boxBtn = $(this);
            var idField = $(this).closest('li').find('.idFieldInput').data('idfield');
            $.ajax({
                url: '/PitchBall/isLiked',
                type: 'GET',
                data: { idFootballField: idField },
                success: function (result) {
                    if (result) {
                        boxBtn.find('.glyphicon').removeClass('glyphicon-heart-empty').addClass('glyphicon-heart red');
                        toastr.success("Đã Yêu Thích");
                    } else {
                        boxBtn.find('.glyphicon').removeClass('glyphicon-heart red').addClass('glyphicon-heart-empty');
                        toastr.error("Đã Hủy Yêu Thích");
                    }
                },
                error: function (xhr) {
                    if (xhr.status === 401) {
                        alert("Vui lòng đăng nhập để thực hiện chức năng");
                    } else {
                        alert("Error");
                    }
                }
            });
        });
    });
</script>
