@model Soccer_Care.Models.FootBallFieldModel

@using Microsoft.AspNetCore.Mvc.Rendering


<body>
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Edit Field Football</h2>
                        </div>
                    </div>
                    <form asp-action="Edit" method="post" class="form-create flex-column d-flex gap-2" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="IDFootBallField" value="@Model.IDFootBallField" hidden />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" value="@Model.Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" value="@Model.Address" type="text" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Gia" class="control-label"></label>
                            <input asp-for="Gia" value="@Model.Gia" class="form-control" />
                            <span asp-validation-for="Gia" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <img id="tempImg" src="/images/@Model.HinhAnhDaiDien" height="400" width="450" class="m-2" />
                            <input type="file" accept="image/*" name="ImageFile" class="form-control" onchange="previewAvatar(this)" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" value="@Model.Username" class="form-control" readonly/>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-2">
                            <input type="submit" value="Cập nhật" class="btn btn-primary" />
                        </div>
                    </form>
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Danh sách các sân</h2>
                    </div>
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">NAME</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image</th>
                                <th scope="col">Price</th>
                                <th scope="col">TYPE FEILD</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ListFieldModel item in ViewBag.ListField)
                            {
                                <tr>
                                    <td class="tm-product-name">@item.NameField</td>
                                    <td>@item.DescriptionField</td>
                                    <td>
                                        <img src="/images/@item.HinhAnhSanBong" height="150" width="130">
                                    </td>
                                    <td>
                                        @item.Gia
                                    </td>
                                    <td>
                                        @item.IDType
                                    </td>
                                    <td>
                                        <a type="button" class="tm-product-delete-link" data-target="@("#DeleteChildField-"+item.IDField)" asp-action="DeleteChildField" asp-route-id="@item.IDField" data-toggle="modal">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                        @await Html.PartialAsync("DeleteChildField",item)
                                        <a type="button" class="tm-product-delete-link" data-target="@("#EditChildField-"+item.IDField)" asp-action="EditChildField" asp-route-id="@item.IDField" data-toggle="modal">
                                            <i class="far fa-edit tm-product-delete-icon"></i>
                                        </a>
                                        @await Html.PartialAsync("EditChildField",item)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function previewAvatar(input) {
        const preview = document.getElementById('tempImg');
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script>
    function previewAvatar(input) {
        const preview = document.getElementById('tempImg1');
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>