@model IEnumerable<Soccer_Care.Models.FootBallFieldModel>
@{
    int i = 0;
}

<div class="recent-listing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Đặt sân ngay tại Soccer Care</h2>
                    <h6>Chất lượng luôn là hàng đầu</h6>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-carousel owl-listing">
                    <div class="item">
                        <div class="row">
                            @foreach(var item in Model)
                            {
                                i++;
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img class="avatar-football" style="width: 600px; height: 380px" src="/images/toilanhanne.png" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>@item.Name</h4></a>
                                            <h6>by: @item.Username</h6>
                                            <ul class="rate">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li>(18) Reviews</li>
                                            </ul>
                                            <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> Sân đẹp</span>
                                    
                                            <ul class="info">
                                                <li><img src="/assets/images/listing-icon-02.png" alt=""> 4 Sân 5</li>
                                                <li><img src="/assets/images/listing-icon-03.png" alt=""> 2 Sân 7</li>
                                            </ul>
                                            <div class="main-white-button">
                                                <a asp-action="DS" asp-controller="PitchBall" asp-route-id="@item.IDFootBallField"><i class="fa fa-eye"></i> Đặt ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if(i == 3)
                                {
                                    break;
                                }
                            }
                            
                        </div>
                    </div>
   
                    <div class="item">
                        <div class="row">
                            @foreach(var item in Model.Skip(3).ToList())
                            {
                                i++;
                                <div class="col-lg-12">
                                    <div class="listing-item">
                                        <div class="left-image">
                                            <a href="#"><img class="avatar-football" style="width: 600px; height: 380px" src="~/assets/images/black-logo.svg" alt=""></a>
                                        </div>
                                        <div class="right-content align-self-center">
                                            <a href="#"><h4>@item.Name</h4></a>
                                            <h6>by: @item.Username</h6>
                                            <ul class="rate">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li>(18) Reviews</li>
                                            </ul>
                                            <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> Sân đẹp</span>
                                         
                                            <ul class="info">
                                                <li><img src="/assets/images/listing-icon-02.png" alt=""> 4 Sân 5</li>
                                                <li><img src="/assets/images/listing-icon-03.png" alt=""> 2 Sân 7</li>
                                            </ul>
                                            <div class="main-white-button">
                                                <a href="contact.html"><i class="fa fa-eye"></i> Đặt ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (i == 6)
                                {
                                    break;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
